# Application
NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3000

# PostgreSQL
DATABASE_URL=postgresql://reachinbox:reachinbox@localhost:5432/reachinbox

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9200

# BullMQ
WORKER_CONCURRENCY=10
MIN_EMAIL_DELAY_MS=2000
MAX_EMAILS_PER_HOUR_PER_SENDER=200

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

# Slack OAuth
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://localhost:4000/api/slack/oauth/callback
SLACK_SCOPES=

# Session
SESSION_SECRET=

# Ethereal
ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASSWORD=

QUEUE_DASHBOARD_USER=admin
QUEUE_DASHBOARD_PASSWORD=reachinbox-dashboard

ENCRYPTION_KEY=de370f12424a3b7d203107a6f11712bb5cf082a11c428daddf289de169a8a207